project:
  type: website
  output-dir: docs

website:
  title: "amara-brown.github.io"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd
      - resume.qmd
        
    left: 
      - icon: github
        href: https://github.com/amara-brown
        target: blank

format:
  html:
    theme: 
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

